<%

let objOrdre = {
	
				"_id" : "asc",
				"nom" : "asc",
				"prenom" : "asc",
				"telephone" : "asc",
				"courriel" : "asc"

			}

if (typeof cle !== 'undefined' && cle){
	objOrdre[cle] = ordre;
}




%>




<table class="tableau">
 <tr>
 <th><a href='/trier/id/<%= objOrdre._id %>'>ID</a></th>
 <th><a href='/trier/nom/<%= objOrdre.nom %>'>Nom</a></th> 
 <th><a href='/trier/prenom/<%= objOrdre.prenom %>'>Prenom</a></th>
 <th><a href='/trier/telephone/<%= objOrdre.telephone %>'>Telephone</a></th>

<th><a href='/trier/telephone/<%= objOrdre.courriel %>'>Courriel</a></th>

 <th>Ajouter</th> 
 </tr>
 <% adresses.forEach(elm => {%>
 <tr>
 <td><%= elm._id %></td>
 <td contenteditable='true'><%= elm.nom %></td>
 <td contenteditable='true'><%= elm.prenom %></td>
 <td contenteditable='true'><%= elm.telephone %></td>
 <td contenteditable='true'><%= elm.courriel %></td>
 <td><a href="/detruire/<%= elm._id %>">Delete</a></td>
 <td><a class='sauver' href="#">Sauver</a></td>
 </tr>
 <% }) %>
 </table>