<header class='entete'>

<nav> 
 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider</a>
 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
 <a href='/list'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Adresse</a>
 <a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peupler</a>
</nav> 

 </header>