<form id="mon_formulaire_m" action="/modifier" style="visibility: hidden" method="POST" >
 <input type = "hidden" placeholder="id" name = "_id" value=''> 
 <input type = "text" placeholder="Nom" name = "nom"> 
 <input type = "text" placeholder="Prénom" name = "prenom">
 <input type = "text" placeholder="Téléphone" name = "telephone">
 <input type = "text" placeholder="Courriel" name = "courriel">
 <input type="submit" value='Ajouter'>
</form>

<form action="/ajouter" method="POST" >
 <input type = "text" placeholder="Nom" name = "nom"> 
 <input type = "text" placeholder="Prénom" name = "prenom">
 <input type = "text" placeholder="Téléphone" name = "telephone">
 <input type = "text" placeholder="Courriel" name = "courriel">
 <input type="submit" value='Ajouter'>
</form>




	