<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8"> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Mon Application - Aaron Orellana</title>
 <link rel="stylesheet" type="text/css" href="css/normalize.css"> 
 <link rel="stylesheet" type="text/css" href="css/entete.css">
 <link rel="stylesheet" type="text/css" href="css/tableau.css">
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <script src="https://use.fontawesome.com/e64c71857d.js"></script>
 </head>