<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <%- include('composants/form_post') %>
 <%- include('composants/adr') %>
 <%- include('composants/footer') %>
</body>


<script type="text/javascript">
 let elmSauver = document.querySelectorAll('.sauver')
 console.log('elmSauver = ' + elmSauver.length)
 for (elm of elmSauver)
 {
 elm.addEventListener('click', function(){
 /* 
 console.log(this
 .parentNode
 .parentNode
 .children[1].innerHTML)
 */
 let laLigne = this.parentNode.parentNode
 let id = laLigne.children[0].innerHTML
 let nom = laLigne.children[1].innerHTML
 let prenom = laLigne.children[2].innerHTML
 let telephone = laLigne.children[3].innerHTML
 let courriel = laLigne.children[4].innerHTML

let elmForm = document.getElementById('mon_formulaire_m')
 console.log(elmForm.tagName)
 let elmInput = elmForm.querySelectorAll('input')
 elmInput[0].value = id
 elmInput[1].value = nom
 elmInput[2].value = prenom
 elmInput[3].value = telephone
 elmInput[4].value = courriel

elmForm.submit()

 })
 } 
</script>
</html>

