.tableau {
  cursor: pointer;
  border-collapse: collapse;
}
.tableau tr:hover {
  background-color: #ddd;
}
.sectionTableau {
  display: flex;
  justify-content: center;
  margin: 10em;
}
.tableau td,
.tableau th {
  border: 1px solid #ddd;
  padding: 8px;
}
tbody {
  background: #c3e9ff;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #222222;
  color: white;
}
th a {
  text-decoration: none;
  color: #7de5ff;
}
input {
  margin-bottom: 1em;
}
nav {
  background-color: black;
  padding: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
nav i {
  margin-right: 5px;
}
ul li a {
  text-decoration: none;
  color: #1f1f1f;
}
ul li a:hover {
  color: #72e1fd;
}
