body{

}

.tableau{ 

    cursor: pointer;
    border-collapse : collapse; 

    tr:hover {
      background-color: #ddd;
    }
     
  } 
   
   
  .sectionTableau{ 
    display: flex; 
      justify-content: center; 
      margin: 10em; 
  } 
   
   
   
  .tableau td, .tableau th{ 
    border: 1px solid #ddd;
    padding: 8px;
  } 
   
   
  tbody{ 
        background: rgb(195, 233, 255); 
  } 
   
  th{ 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(34, 34, 34);
    color: white;
    

    a{
      text-decoration: none;
      color: rgb(125, 229, 255);
    }
  } 
   
  input{ 
    margin-bottom: 1em;
  }

  nav{
    background-color: black;
    padding: 20px;

    a{
      color: white;
      text-decoration: none;
      margin-right: 10px;
    }

    i{
      margin-right: 5px;
    }
  }

  ul{

    li{

      a{
        text-decoration: none;
        color: rgb(31, 31, 31);
      }

      a:hover{
        color: rgb(114, 225, 253);
      }
    }
  }